*{
   margin: 0px;
   padding: 0px; 
}

.main-text-heading{
    font-size: 48px;
    font-weight: bolder;
}

.main-text{
    font-size: 24px;
}
.Header{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

li{
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.logo{
    height: 25px;
    border-radius: 50px;
}

.course-img{
    height: auto;
    width: 400px;
    border-radius: 15px;
}

.first-container{
    height: 550px;
    width: 100%;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 100px;
    color: white;
}

.Courses-info{
    display: flex;
    gap: 25px;
    justify-content: space-around;
}

.signup-button{
    background-color: #3882F6;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.second-container{
    height: 440px;
    width: 100%;
}

.text-heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 45px;
}

.divs{
    height: 180px;
    width: 180px;
    border: #3882F6 solid 4px;
    border-radius: 15px;
}

.div-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.divtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    gap: 15px;
    font-size: 20px;
    color: #6c7480;
}

.third-container{
    height: 380px;
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote{
    margin-top: 60px;
    height: 50px;
    width: 700px; 
    font-size: 36px;
    color: #525d6d;
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
}

.Author{
    margin-left: 250px;
    margin-top: 10px;
    font-weight: bolder;
}

.forth-container{
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box{
    height: 140px;
    width: 1000px;
    border: #3882F6 solid 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 15px;
    color: white;
}

.call-heading{
    font-size: 30px;
    font-weight: bold;
}

.info{
    font-size: 18px;
}

.call-signup-button{
    padding: 8px 30px;
    border-radius: 30px;
    border:white solid 2px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.footer{
    height: 100px;
    display: flex;
    width: 100%;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}